<?xml version="1.0"?>

<launch>

    <arg name="gdb" default="false"/>
    <arg if="$(arg gdb)" name="launch-prefix" value="gdb -ex run --args"/>
    <arg unless="$(arg gdb)" name="launch-prefix" value=""/>

    <node name="rgbd_encoder" pkg="rgbd" type="rgbd_server" output="screen" launch-prefix="$(arg launch-prefix)">
        <remap from="cam_info" to="/amigo/top_kinect/rgb/camera_info"/>
        <remap from="rgb_image" to="/amigo/top_kinect/rgb/image_color"/>
		<remap from="depth_image" to="/amigo/top_kinect/depth_registered/hw_registered/image_rect_raw"/>
		<remap from="output" to="/amigo/top_kinect/rgbd"/>
		<param name="depth_storage" value="png"/>
		<param name="rgb_storage" value="jpg"/>
    </node>

</launch>
